<div class="container-fluid">
  <div class="row">
      
    <div class="addproductheading">
        <h2><u>Add a product</u></h2>
        <br>
    </div> 
    
    <div class="col-md-6">
      
      <form>
        <div class="form-group">
            {{textarea class="form-control messagefield" rows="12" placeholder="Product photo description" value=productPhotoDescription}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Supply Ability" value=supplyAbility}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Minimum order" value=minimumOrder}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Certifications" value=certifications}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Place of origin" value=placeOfOgirin}}
        </div>
      </form>
    </div>
    
    <div class="col-md-6">
        
        <form>
        <div class="form-group">
            {{textarea class="form-control messagefield" rows="12" placeholder="Product description" value=productDescription}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Packaging details" value=packagingDetails}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Pickup address" value=pickupAddress}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Product life cycle" value=productLifeCycle}}
        </div>
        <div>
            {{input type="text" class="form-control inputfield"  placeholder="Pricing policy" value=pricingPolicy}}
        </div>
        </form>
        
        <div class="uploadproduct">
            <button {{action 'addProduct'}} class="btn btn-success btn-lg dropdown-toggle pull-right uploadbutton" type="button" >
                Upload
            </button>
        </div>
        
    </div>
    
    
  </div>
</div>